<p id="notice"><%= notice %></p>

<p>
  <strong>Order no:</strong>
  <%= @order.order_no %>
</p>

<p>
  <strong>Order type:</strong>
  <%= @order.order_type %>
</p>

<p>
  <strong>Payable price:</strong>
  <%= @order.payable_price %>
</p>

<p>
  <strong>Tracking no:</strong>
  <%= @order.tracking_no %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
